@model EscuelaItinerante.Models.InscribirAlumnoViewModel
@{
    ViewBag.Title = "Inscripción de alumno";
}
<h2>@ViewBag.Title.</h2>
@*<h4 class="text-success">@ViewBag.Message</h4>*@


@if (Model.Alumno == null)
{
    <div class="container">
        @using (Html.BeginForm("InscribirAlumno", "Alumno", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-md-6 col-lg-offset-3 well">
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>

                <h4>Ingrese la sede a la que va a inscribir al alumno.</h4>
                <div>
                    @Html.DropDownListFor(x => x.Sede, Model.Sedes, new { @class = "form-control" })
                </div>

                <h4 class="mt20">Ingrese el DNI del alumno que desea inscribir.</h4>
                <div>
                    @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control", @placeholder = "Nro. Documento", @Value = Model.NroDocumento == 0 ? "" : Model.NroDocumento.ToString() })
                </div>
                <div class="mt20 text-right">
                    <input type="submit" name="name" class="btn btn-success" value="Buscar" />
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            @Html.Partial("~/Views/Alumno/Partial/AlumnoTabla.cshtml", Model.Alumno)
        </div>
        <hr class="col-md-12" />
        <div class="col-md-12">
            <h3>Seleccione el curso a inscribir al alumno</h3>
            <table class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>Comisión</th>
                        <th>Coordinador</th>
                        <th>Modalidad</th>
                        <th>Turno</th>
                        <th>Arancel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comisiones)
                    {
                        <tr>
                            <td>
                                @item.IdComision
                            </td>
                            <td>
                                @item.Coordinador.ToString().Replace("_", " ")
                            </td>
                            <td>
                                @item.Modalidad
                            </td>
                            <td>
                                @item.Turno
                            </td>
                            <td>
                                @item.Arancel
                            </td>
                            <td>
                                <button type="button" data-arancel="@item.Arancel" data-idcomision="@item.IdComision" class="btn btn-info inscribir" data-toggle="modal" data-target="#myModal">Inscribir</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Finalizar inscripción</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="IdComision" value="" id="idcomision" />

                        <div>
                            <p>El alumno puede abonar un arancel distinto al fijado en el curso. TODO</p>
                            <h4>Arancel</h4>
                            <div class="mb20">
                                <input type="text" name="arancel" id="arancel" class="form-control" value="" />
                            </div>
                            <h4>Observaciones</h4>
                            <div>
                                <textarea name="observacionesdelainscripcion" id="observacionesdelainscripcion" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-success" data-dismiss="modal" id="finalizarinscripcion">Finalizar Inscripción</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script>
        $(function () {
            var idAlumno = @Model.Alumno.IdAlumno;

            $('.inscribir').click(function () {
                $('#idcomision').val($(this).data("idcomision"));
                $('#arancel').val($(this).data("arancel"));
            });

            $('#finalizarinscripcion').click(function () {
                var idComision = 0;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FinalizarInscripcion", "Alumno")',
                    data: {
                        idalumno: idAlumno,
                        idcomision: $('#idcomision').val(),
                        arancel: $('#arancel').val(),
                        observacionesdelainscripcion: $('#observacionesdelainscripcion').val()
                    },
                    success: function (data) {

                    }
                });
            });

        });
    </script>

}
