@model EscuelaItinerante.Models.InscribirAlumnoViewModel
@{
    ViewBag.Title = "Inscripción de alumno";
}
<h2>@ViewBag.Title.</h2>
@*<h4 class="text-success">@ViewBag.Message</h4>*@

<div class="container">
    @if (Model.Alumno == null)
    {
        using (Html.BeginForm("InscribirAlumno", "Alumno", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-md-6 col-lg-offset-3 well">
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>

                <h4>Ingrese la sede a la que va a inscribir al alumno.</h4>
                <div>
                    @Html.DropDownListFor(x => x.Sede, Model.Sedes, new { @class = "form-control" })
                </div>

                <h4 class="mt20">Ingrese el DNI del alumno que desea inscribir.</h4>
                <div>
                    @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control", @placeholder = "Nro. Documento", @Value = Model.NroDocumento == 0 ? "" : Model.NroDocumento.ToString() })
                </div>
                <div class="mt20 text-right">
                    <input type="submit" name="name" class="btn btn-success" value="Buscar" />
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-4 col-md-offset-4">
            @Html.Partial("~/Views/Alumno/Partial/AlumnoTabla.cshtml", Model.Alumno)
        </div>
        <hr class="col-md-12" />
        <div class="col-md-12">
            <h3>Seleccione el curso a inscribir al alumno</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad de comisiones</th>
                        <th>Observación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cursos)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Comisiones.Count()</td>
                            <td>@item.Observacion</td>
                            @*<td>@item.Turno</td>
                                <td>@item.Sede.ToString().Replace("_", " ")</td>
                                <td>@item.Coordinador.ToString().Replace("_", " ")</td>
                                <td>@item.TipoCurso</td>
                                <td class="text-center">@item.Version</td>
                                <td>$ @string.Format("{0:n0}", item.Precio)</td>*@
                            <td>
                                <a class="btn btn-default" href="@Url.Action("FinalizarInscripcion", new { idAlumno = Model.Alumno.IdAlumno, idCurso = item.IDCurso, idSede = (int)Model.Sede })">Finalizar inscripción</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
