@model EscuelaItinerante.Models.NuevoAlumnoViewModel
@{
    ViewBag.Title = "Alta de Alumno";
}

@if (!Request.IsAuthenticated)
{
    Layout = null;

    <text>
        <!DOCTYPE html>
        <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Aplicación de Escuela Itinerante de Psicología Social</title>
            @Styles.Render("~/Content/css")
            @Styles.Render("~/Content/datatable")
            @Scripts.Render("~/bundles/modernizr")
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/datatable")
            <script src="~/Scripts/sitio.js"></script>
            <link rel="shortcut icon" type="image/x-icon" href="~/Images/icon.ico" />
        </head>
        <body>
            <div class="container text-center">
                <div>
                    <img src="/Images/Logo.png">
                </div>
                <h2 class="text-success">Exito!</h2>
                <p>Ha sido dado de alta correctamente.</p>
            </div>
            <hr class="col-md-12" />
            <footer class="col-md-12">
                <p>&copy; @DateTime.Now.Year - Desarrollado por mazcui</p>
            </footer>

        </body>
    </html>
    </text>
}
else
{

    <h2>@ViewBag.Title.</h2>

    <div class="container">
        <h3 class="text-success">Exito!</h3>
        <p>El alumno ha sido de alta correctamente.</p>
        <hr />
        <h3>Seleccione que operación desea realizar:</h3>
        <div class="row mt20">
            <div class="col-md-6 text-center">
                <a href="/" class="btn btn-info w230">Inicio</a>
            </div>
            <div class="col-md-6 text-center">
                <a href="@Url.Action("InscribirAlumno", "Alumno" )" class="btn btn-info w230">Inscribir Alumno</a>
            </div>
            <div class="col-md-6 text-center mt20">
                <a href="@Url.Action("PagoClase", "Pago" )" class="btn btn-info w230">Nuevo Pago</a>
            </div>
            <div class="col-md-6 text-center mt20">
                <a href="@Url.Action("AlumnoAbandonaComision", "Alumno" )" class="btn btn-info w230">Baja de Alumno a Curso</a>
            </div>
        </div>
    </div>
}

