@model EscuelaItinerante.Models.CursosTodosViewModel
@{
    ViewBag.Title = "Reportes";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Todos los reportes</h4>
    <hr />
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Comisión</th>
                <th>Curso</th>
                <th>Coordinador</th>
                <th>Modalidad</th>
                <th>Turno</th>
                <th>Arancel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comisiones)
            {
                <tr>
                    <td>
                        @item.IdComision
                    </td>
                    <td>
                        @item.Curso.ToString().Replace("_", " ")
                    </td>
                    <td>
                        @item.Coordinador.ToString().Replace("_", " ")
                    </td>
                    <td>
                        @item.Modalidad
                    </td>
                    <td>
                        @item.Turno
                    </td>
                    <td>
                        @item.Arancel
                    </td>
                    <td>
                        <a href="#" class="btn btn-info">Ver alumnos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
