@model EscuelaItinerante.Models.IndexViewModel
@{
    ViewBag.Title = "Reportes";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Todos los reportes</h4>
    <hr />
    <table class="table datatable">
        <tr>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
            <td><a href="@Url.Action("AlumnosPorCurso")" class="btn btn-success">Alumnos por curso</a></td>
        </tr>
    </table>
</div>