@model EscuelaItinerante.Models.NuevoPagoViewModel
@{
    ViewBag.Title = "Nuevo Pago";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <div class="col-md-6 col-lg-offset-3 well">
        @using (Html.BeginForm("FinalizarPago", "Pago", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <h4 class="mt20">Ingrese el DNI del alumno que desea abonar.</h4>
            
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>

            <div>
                @Html.TextBoxFor(x => x.NroDocumento, new { @type = "number", @class = "form-control", @placeholder = "Nro. Documento", @Value = Model.NroDocumento == 0 ? "" : Model.NroDocumento.ToString() })
            </div>
            <div class="mt20 text-right">
                <input type="submit" class="btn btn-success" value="Buscar" id="buscar" />
            </div>
        }
    </div>
</div>

@*<script>
        $(function(){
            $('#buscar').click(function () {

                var nrodoc = $('#nrodocumento').val();

                var data = { NroDocumento: nrodoc };

                $.post('@Url.Action("GetAlumno")', data).
                done((response) => {
                    fillDropdown(response, $dropdown, 'No tiene cuentas disponibles');
                }).
                fail((error) => {
                    console.warn(error);
                    toastr.error('Ha ocurrido un error.');
                });*
            });
        });
    </script>*@