@model EscuelaItinerante.Models.NuevoPagoViewModel
@{
    ViewBag.Title = "Nuevo Pago";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <label class="control-label">DNI</label>
            @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">DNI</label>
            @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">DNI</label>
            @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">DNI</label>
            @Html.TextBoxFor(x => x.NroDocumento, new { @class = "form-control" })
        </div>
    }
</div>

